h1, h2, h3, h4, h5, h6 {
	text-transform: none; 
    letter-spacing: 0.10em;
}

.button {
	text-transform: none; 
    letter-spacing: 0.10em;
}

header p {
	text-transform: none; 
    letter-spacing: 0.10em;
}

#sidebar {
    margin-right: 3em;
    min-width: 18em;
    width: 18em;
}


#content h1 {
    margin: 1em 0 0.5em 0;
    font-size: 1.5em;
	text-decoration: underline;
}

#content h2 {
    margin: 1em 0 0.5em 0;
    font-size: 1.2em;
	text-decoration: underline;
}

#content ul, #content ol, #content pre {
	margin: 0.5em 0 0.5em 0;
}

#content ul ul, #content p {
	margin: 0 0 0.5em 0;
}

#content p a, #content ul li a {
	border-bottom: none;	
	text-decoration: underline;
    color: blue;
}
