h1, h2, h3, h4, h5, h6 {
	text-transform: none; 
    letter-spacing: 0.10em;
}

h1 {
    font-size: 1.3em;
}

.button {
	text-transform: none; 
    letter-spacing: 0.10em;
}

header p {
	text-transform: none; 
    letter-spacing: 0.10em;
}

#sidebar {
    margin-right: 3em;
    min-width: 18em;
    width: 18em;
}

